<template>
    <div class="not-found-wrap">
        <h1 class="not-found">404. Not Found</h1>
        <router-link to="/">Return to Home</router-link>
    </div>
</template>

<script>
export default {
    name: '404'
}
</script>

<style lang="stylus" scoped>
.not-found-wrap
    text-align center
    text-transform uppercase
</style>
