<template>
  <div class="user-section">
    <div class="user-section__filters">
      <FilterProps />
    </div>
    <div class="user-section__table">
      <UserTable />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import FilterProps from '@/components/FilterProps'
import UserTable from '@/components/UserTable'

export default {
  name: 'home',
  components: {
    FilterProps,
    UserTable
  },
  created(){
    this.$store.dispatch('getUsers');
  }
}
</script>

<style lang="stylus" scoped>
.user-section
  display flex
  flex-wrap wrap

.user-section__filters
  width 15%
.user-section__table
  width 85%

@media screen and (max-width: 768px)
  .user-section__filters
    width 100%
  .user-section__table
    width 100%
</style>
