<template>
    <div class="user__page">
        <div class="user__data" v-if="user">
            <div class="user__photo">
                <img class="user__photo--circle" v-bind:src="user.picture.large" alt="">
            </div>
            <div class="user__personal__text">
                <div class="user__personal-data">
                    <h1 class="user__personal-data__name">{{ user.name.title }} {{ user.name.first }} {{ user.name.last }} <sup class="user__personal-data__username">{{ user.login.username }}</sup></h1>
                    <p>Gender: <span>{{ user.gender }}</span></p>
                    <p>Birthday: <span>{{ user.dob.date | moment('MMMM Do YYYY')}}</span></p>
                    <p>Age: <span>{{ user.dob.age }}</span></p>
                </div>
                <div class="user__address">
                    <p>Street: <span>{{ user.location.street }}</span></p>
                    <p>City: <span>{{ user.location.city }}</span></p>
                    <p>State: <span>{{ user.location.state }}</span></p>
                    <p>Zip Code: <span>{{ user.location.postcode }}</span></p>
                </div>
                <div class="user__contact">
                    <p>Email: <span>{{ user.email }}</span></p>
                    <p>Telephone: <span>{{ user.phone }}</span></p>
                    <p>Cellphone: <span>{{ user.cell }}</span></p>
                </div>
                <div class="user__history">
                    <p>Register day: <span>{{ user.registered.date | moment('MMMM Do YYYY') }}</span></p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'user',
    created() {
        this.$store.dispatch('getUsers');
    },
    computed: {
        user() {
            let uuid = this.$route.params.uuid;
            let user = this.$store.state.users.find((u) => u.login.uuid == uuid);
            return user;
        }
    }
}
</script>

<style lang="stylus" scoped>
.user__personal-data__username
    font-size 12px
    background-color #304ffe
    color #fff
    padding-left 5px
    padding-right 5px
    border-radius 2px
.user__personal-data__name
    text-transform capitalize
    text-align center
.user__photo
    text-align center
.user__personal-data, .user__address
    text-transform capitalize
.user__personal__text p > span
    float right
.user__photo--circle
    border-radius 50%
.user__data
    width 350px
    margin 0 auto
    background-color #fff
    padding 15px
    box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    border-radius 4px
    margin-bottom 20px
@media screen and (max-width: 768px)
    .user__data
        width 100%
        box-sizing border-box
</style>

