<template>
    <div class="user-props">
      <p>Check for view user props</p>
      <div class="user-props__items">
        <div class="user-props__item">
          <label class="checkbox">
            <input type="checkbox" name="photo" v-bind:checked="isIncluded('photo')"  v-on:click="toggleProp('photo')">
            <span>Photo</span>
          </label>
        </div>
        <div class="user-props__item">
          <label class="checkbox">
            <input type="checkbox" name="title" v-bind:checked="isIncluded('title')" v-on:click="toggleProp('title')">
            <span>Title</span>
          </label>
        </div>
        <div class="user-props__item">
          <label class="checkbox">
            <input type="checkbox" name="firstname" v-bind:checked="isIncluded('firstname')"  v-on:click="toggleProp('firstname')">
            <span>First Name</span>
          </label>
        </div>
        <div class="user-props__item">
          <label class="checkbox">
            <input type="checkbox" name="lastname" v-bind:checked="isIncluded('lastname')" v-on:click="toggleProp('lastname')">
            <span>Last Name</span>
          </label>
        </div>
        <div class="user-props__item">
          <label class="checkbox">
            <input type="checkbox" name="gender" v-bind:checked="isIncluded('gender')" v-on:click="toggleProp('gender')">
            <span>Last Name</span>
          </label>
        </div>
        <div class="user-props__item">
          <label class="checkbox">
            <input type="checkbox" name="email" v-bind:checked="isIncluded('email')" v-on:click="toggleProp('email')" >
            <span>Email</span>
          </label>
        </div>
        <div class="user-props__item">
          <label class="checkbox">
            <input type="checkbox" name="phone" v-bind:checked="isIncluded('phone')" v-on:click="toggleProp('phone')">
            <span>Phone</span>
          </label>
        </div>
        <div class="user-props__item">
          <label class="checkbox">
            <input type="checkbox" name="cell" v-bind:checked="isIncluded('cell')" v-on:click="toggleProp('cell')">
            <span>CellPhone</span>
          </label>
        </div>
        </div>
    </div>
</template>

<script>
import { MixinMethod } from "@/mixins/MixinMethods";
export default {
    name: 'FilterProps',
    mixins: [MixinMethod],
    methods: {
        toggleProp(prop){
            if(this.isIncluded(prop)){
                this.$store.commit("DROP_PROP", prop);
            }else{
                this.$store.commit("ADD_PROP", prop);
            }
        }
    }
}
</script>

<style lang="stylus" scoped>
.user-props__items
  text-align left
.user-props__item
  margin-bottom 5px
.checkbox
  position relative
  cursor pointer
  & > input
    appearance none
    height 48px
    width 48px
    left -15px
    top -15px
    background-color rgba(0,0,0,0.4)
    outline none
    border-radius 50%
    margin 0
    display block
    transform scale(1)
    opacity 0
    transition opacity 0.5s, transform 0.5s
    position absolute
    &:checked
      background-color #2196f3
      & + span
        &::before
          background-color #2196f3
          border-color #2196f3
        &::after
          border-color #fff        
  &:active
    & > input
      opacity 1
      transform scale(0)
      transition opacity 0s, transform 0s
  & > span
    &::before
      content ""
      display inline-block
      border 2px solid rgba(0,0,0,0.4)
      transition border 0.5s, background-color 0.5s
      height 12px
      width 12px
      border-radius 2px
      z-index -1
      margin-right 5px
    &::after
      content ""
      display inline-block
      position absolute
      top 0
      left 0
      width 5px
      height 10px
      border 2px solid transparent
      border-left none
      border-top none
      transform translate(5px, 1px) rotate(45deg)
</style>


