<template>
    <table class="user-table">
      <thead class="user-table__thead">
        <tr>
          <th v-if="isIncluded('photo')">Photo</th>
          <th v-if="isIncluded('title') || isIncluded('firstname') || isIncluded('lastname')">User</th>
          <th v-if="isIncluded('gender')">Gender</th>
          <th v-if="isIncluded('email')">email</th>
          <th v-if="isIncluded('phone')">Phone</th>
          <th v-if="isIncluded('cell')">CellPhone</th>
          <th>Actions</th>
        </tr>
      </thead>
      
      <tbody class="user-table__tbody">
        <tr class="user" v-bind:key="user.login.uuid" v-for="user in users">
          <td  v-if="isIncluded('photo')">
            <img v-bind:src="user.picture.thumbnail">
          </td>
          <td class="user__name" v-if="isIncluded('title') || isIncluded('firstname') || isIncluded('lastname')">
            <p>
              <span v-if="isIncluded('title')" class="user__name__title">{{ user.name.title }}.</span> 
              <span v-if="isIncluded('firstname')" class="user__name__first"> {{ user.name.first }}</span> 
              <span v-if="isIncluded('lastname')"  class="user__name__last"> {{ user.name.last }}</span>
            </p>
          </td>
          <td class="user__gender" v-if="isIncluded('gender')">
            <p>{{ user.gender }}</p>
          </td>
          <td class="user__email" v-if="isIncluded('email')">
            <p>{{ user.email }}</p>
          </td>
          <td class="user__phone" v-if="isIncluded('phone')">
            <p>{{ user.phone }}</p>
          </td>
          <td class="user__cell" v-if="isIncluded('cell')">
            <p>{{ user.cell }}</p>
          </td>
          <td class="user__action">
            <router-link :to="{ name: 'user', params: { uuid: user.login.uuid } }" target="_blank">View data</router-link>
          </td>
        </tr>
        
      </tbody>
    </table>
</template>

<script>
import { MixinMethod } from "@/mixins/MixinMethods";
export default {
    name: 'UserTable',
    mixins: [MixinMethod],
    computed: {
        users () {
            return this.$store.state.users;
        }
    }
}
</script>

<style lang="stylus" scoped>
.user-table
  width 100%
  border: none
  border-collapse: collapse
  text-align center

.user__name
  text-transform capitalize
.user__gender
  text-transform uppercase
.user-table__thead
  tr
    border-bottom 1px solid rgba(0,0,0,0.12)
  th
    padding-top 5px
    padding-bottom 5px
    text-transform capitalize
.user-table__tbody
  td
    padding-top 5px
    padding-bottom 5px
@media screen and (max-width: 768px)
  .user-table__thead
    th
      display none
  .user-table__tbody
    tr
      border-bottom 1px solid rgba(0,0,0,0.12)
    td
      display block
      p
        margin-bottom 0
        margin-top 5px
</style>

