<template>
  <div id="app">
    <div class="nav-bar">
      <span>Cloudware Frontend Test</span>
    </div>
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>
<style lang="stylus">
#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #2c3e50
body
  margin 0
.nav-bar
  background #304ffe
  color #fff
  padding 10px
  margin-bottom 20px
  box-shadow 0 2px 4px rgba(0,0,0,.5)
  height 50px
  display flex
  align-items center
.container
  width 1200px
  margin 0 auto
@media screen and (max-width: 768px)
  .container
    width 100%
    padding-left 15px
    padding-right 15px
    box-sizing border-box
</style>
